<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.sejong.ex.mapper.CompanyMapper">
	    
	    <select id="getEmpDept" resultType="EmpDeptVO">
	    <![CDATA[
	      select * from emp, dept, salgrade where emp.deptno = dept.deptno and emp.sal BETWEEN salgrade.losal and salgrade.hisal
	     ]]>
	    </select>
	    
	    <!--  SalGradeVO  -->
	    <resultMap id="salGradeMap" type="SalGradeVO" >
	    	<result property="hisal" column="hisal"/>
	    	<result property="losal" column="losal"/>
	    	<result property="grade" column="grade"/>   	
	    </resultMap>
	    
	   <!--  EmpVO empMap = new EmpVO() -->
	    <resultMap id="empMap" type="EmpVO" >
	    	<id property="empno" column="empno"/>
	    	<result property="ename" column="ename"/>
	    	<result property="job" column="job"/>
	    	<result property="mgr" column="mgr"/>
	    	<result property="hiredate" column="hiredate"/>
	    	<result property="sal" column="sal"/>
	    	<result property="comm" column="comm"/>
	    	<result property="deptno" column="deptno"/>	   
	    	<association property="salGrade" resultMap="salGradeMap" />    	
	    </resultMap>
	    
    
	    <resultMap  id="deptEmpMap" type="DeptEmpVO">
	    	<result property="deptno" column="deptno"/>
	    	<result property="dname" column="dname"/>
	    	<result property="loc" column="loc"/>
	    	<collection property="empList" resultMap="empMap" />    	
	    </resultMap>
	    
	    
	    <select id="getDeptEmpList" resultMap="deptEmpMap">
	    <![CDATA[
	        select * from emp, dept, salgrade where emp.deptno = dept.deptno and emp.sal BETWEEN salgrade.losal and salgrade.hisal
	     ]]>
	    </select>
	    					  	  

</mapper>